<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
</head>
<body>

    <h1>Data Login yang Telah Masuk</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in login_data %}
                <tr>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.password }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/">Go Back to Login</a>

</body>
</html>
